# /usr/lib/systemd/system/fdo-manufacturing.service
[Unit]
Description=FDO Manufacturing Server
After=fdo-manufacturing-init.service
Wants=fdo-manufacturing-init.service

[Service]
ExecStart=/etc/fdo/go-fdo-server manufacturing $MANUFACTURING_HOST_IP:$MANUFACTURING_PORT --manufacturing-key=$MANUFACTURING_KEY --owner-cert=$OWNER_CERT --device-ca-key=$DEVICE_CA_KEY --device-ca-cert=$DEVICE_CA_CERT --db=$MANUFACTURING_DB --db-pass=$MANUFACTURING_DB_PASS --debug
Restart=always
BindPaths=/etc/fdo:/etc/fdo:Z
EnvironmentFile=/etc/fdo/fdo-manufacturing/env
EnvironmentFile=/usr/lib/systemd/system/env

[Install]
WantedBy=fdo.target