manufacturing_port: "{{ manufacturing_port }}"
manufacturing_key: "{{ manufacturing_key }}"
owner_ca_cert: "{{ owner_ca_cert }}"
device_ca_key: "{{ device_ca_key }}"
device_ca_cert: "{{ device_ca_cert }}"
manufacturing_db: "{{ manufacturing_db }}"