MANUFACTURING_PORT={{MANUFACTURING_PORT}}
MANUFACTURING_KEY={{MANUFACTURING_KEY}}
OWNER_CA_CERT={{OWNER_CA_CERT}}
DEVICE_CA_KEY={{DEVICE_CA_KEY}}
DEVICE_CA_CERT={{DEVICE_CA_CERT}}
MANUFACTURING_DB={{MANUFACTURING_DB}}
